# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Editor-specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Frontend build artifacts
frontend/dist/
frontend/build/
